{{ define "content" }}
<article>

  <!-- Header -->
  <header>
    <hgroup>
      <h1>{{ .CurrentAuction.Title }}</h1>
      <h2>{{ .CurrentAuction.Description }}</h2>
    </hgroup>
    <mark>${{ .CurrentAuction.Price }}</mark>
  </header>

  <!-- Bidding Form -->
  <h1>Place Bid</h1>
  <form>
    <input type="number" id="amount" placeholder="$ Bid Amount" />
    <button type="submit">Bid Now</button>
  </form>

  <!-- Image -->
  <footer>
    <img src="/web/static/img/t-shirt.jpeg" alt="item" />
    <a href="/bid?auction=1&amount=100">Vulnerable Link!</a>
  </footer>

</article>
{{ end }}