{{ define "content" }}

<!-- Header -->
<header>
  <hgroup>
    <h1>{{ .CurrentAuction.Title }}</h1>
    <h6>{{ .CurrentAuction.Description }}</h6>
    <mark>${{ .CurrentAuction.Price }}</mark>
  </hgroup>
</header>

<div class="grid">
  <!-- Image -->
  <div>
    <img src="/web/static/img/t-shirt.jpeg" alt="item" />
  </div>

  <!-- Bidding Form -->
  <div>
    <h2>Place Bid</h2>
    {{ if .IsLoggedIn}}
    <form method="post" action="/bid">
      <input type="hidden" id="auctionID" name="auction" value={{ .CurrentAuction.Id }} />
      <input type="number" id="amount" name="amount" placeholder="$ Bid Amount" />
      <button type="submit">Bid Now</button>
    </form>
    {{ else }}
    <form action="/users/login">
      <input type="text" id="placeholder" placeholder="Please Login to place bid." disabled />
      <button type="submit">Login</button>
    </form>
    {{ end }}
  </div>
</div>


{{ end }}